attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.7.0
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
exceptiongroup==1.2.1
Flask==3.0.3

